@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*구글 폰트 noto sans korean */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
/* font-awesome url버전에 따라 폰트가 달리 나올 수 있음 */

* {
    padding: 0;
    margin: 0;
    word-break: keep-all;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    vertical-align: bottom;
    word-break: keep-all;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --white-color: #fff;
    --grey-color: #666;
    --white-alpha-color: rgba(255, 255, 255, 0.4);
    --grey-alpha-color: rgba(102, 102, 102, 0.4);
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.sec01 {
    text-align: center;
}

.sec01 .logo {
    background: url(/images/daily/logo.png) 50% 50% no-repeat;
    width: 170px;
    height: 65px;
    margin: 50px auto 30px;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
}

.sec01 .copy {
    height: 50px;
    line-height: 50px;
    color: var(--grey-color);
    font-family: 'Noto Sans KR', sans-serif;
}

.sec01 .copy::before, .sec01 .copy::after {
    font-size: 1.25rem;
    color: var(--grey-color);
    position: relative;
    top: -10px;
    font-family: "Font Awesome 6 Free";
}

/* cdnjs에서 제공하는 css url의 버전이 높을 수록 문법 적용에 엄격하며, 상위 버전일 수록 지원하는 아이콘들이 많으나 오류가 나올 수 있기 때문에 텍스트 오류가 나올 경우 css에서 직접 개입하여 수정하여야 한다. -> 작성한 font-family root, icon 참고 참고 참고 */

.sec01 .copy::before {content: "\f10d";}

.sec01 .copy::after {content: "\f10e";}

.sec02 {
    display: flex;
    margin: 50px 0 0 0;
    flex-wrap: wrap;
    gap: 20px 0;
}


.sec02 .box {
    flex: 0 0 290px;
    height: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #f5f6f7;
    color: var(--grey-color)
}

.sec02 img.box {
    padding: 0;
}

.sec02 .box.b02 {
    color: var(--white-color);
    background-color: #db0d26;
    border-color: var(--white-alpha-color);
}

.sec02 .box.b03 {
    margin: 0 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: 500;
}

.sec02 .box.b04 {
    color: var(--white-color);
    background: url(/images/daily/img02.png) no-repeat 50% 50% / cover  rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    border-color: var(--white-alpha-color);
}

.sec02 .box.b05 {
    border-color: var(--grey-alpha-color);
}

.sec02 .box.b06 {
    flex: 1 1 600px;
    margin:  0 20px 0 0;
}

.sec02 .box.b07 {
    color: var(--white-color);
    background: url(/images/daily/img04.png) no-repeat 50% 50% / cover  rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    border-color: var(--white-alpha-color);
}

.sec02 .box.b08 { filter: brightness(80%);}

.sec02 .box.b09 { border-color: var(--grey-alpha-color);}

.sec02 .box.b10 {
    margin: 0 20px;
    color: var(--white-color);
    background: url(/images/daily/img06.png) no-repeat 50% 50% / cover rgba(219, 161, 13, 0.4);
    background-blend-mode: multiply;
    border-color: var(--white-alpha-color);
}

.sec02 .box.b11 {
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: 500;
}

.sec02 .box .title {
    font-size: 1.875rem;
    font-weight: 700;
}

.sec02 .box .copy {
    overflow: hidden;
    text-overflow: ellipsis;
    /* 문자 넘치면... 처리 한다 */
    font-size: 0.875rem;
    font-weight: 400;
    flex: 1 1 0;
    line-height: 1.8;
    max-height: 5.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* 글자의 줄 조절한다 */
}

.sec02 .box .date {
    font-size: 0.875rem; 
    font-weight: 400;
}

.sec02 .box a:link,.sec02 .box a:visited { 
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-color: inherit;
    line-height: 1;
}



























