@charset "utf-8";

.inner { width: 100%; }

.sec02 .box { 
    flex : 1 1 30%;

}

.sec02 img.box.b01 { 
    flex: 1 1 100%;
    height: 70px;
    object-fit: cover;
}

.sec02 .box.b05 {
    flex: 1 1 50%;
    margin: 0;
}

.sec02 .box.b06 { 
    flex: 1 1 50%;
    margin: 0;

}

.sec02 .box.b07 {
    flex: 1 1 50% ;
    order: 11;
}

.sec02 .box.b08 {
    flex: 1 1 50%;
    order:10;
}

.sec02 .box.b10 {
    order:2 ;
    margin: 0;
}

.sec02 .box.b11 {
    margin: 0 20px 0 20px;
}
