@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
/* font-awesome url버전에 따라 폰트가 달리 나올 수 있음 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorWhite : #fff;
    --colorBlack : #000;
    --colorGerylight : #888A90;
    --colorSkyBlue : #239BF4;
}

/* ------------------------------------------ */

a:link,
a:visited {
    text-decoration: none;
    color : inherit;
}

li {
    list-style-type: none;
}

header {
    width: 100%;
    height: 70px;
}

nav {
    height: 100%;
    display:flex;
    justify-content: space-between;
}

nav.inner {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

header .inner span {
    display: none;
  }

nav a.logo {
    width: 100px;
    height: 60px;
    text-indent: -900px;
    overflow: hidden;
    background: url(/ex/images/ftv/ftv로고/eftv_logo.png) no-repeat 50% 50% / contain;
    margin: 0 20px 0 0;
}

nav .left {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

nav .left ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}

nav .left .gnb01 {
    height: 100%;
}

nav .left .gnb01 li {
    height: 100%;
    font-size: 1.25rem;
    font-weight: 700;
}

nav .left .gnb01 li > a {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 3px solid transparent;
}

nav .left .gnb01 .snb {
    display: flex;
    display: inline-block;
    justify-content: flex-end;
    height: auto;
}

nav .left .gnb01 li ul{
    position: relative;
    display: flex;
}

nav .left > .gnb01 > li > ul.snb::before {
    content: "";
    position: fixed;
    display: block;
    width: 100%;
    height: inherit;
    z-index: 3;
    top: 70px;
    left: 0;
}

nav .left ul.gnb01 > li > ul.snb > li {
    font-size: 1rem;
    font-weight: 400;
    /* display: flex;
    justify-content: left; */
    position: relative;
    z-index: 20;
    overflow: hidden;
    height: 0;
}

nav .left > .gnb01 > li:hover > ul.snb > li,
nav .left > .gnb01 > li:hover > ul.snb::before {
    height: 30px;
    transition: all 0.4s;
}

nav .left > .gnb01 > li:hover > ul.snb::before {
    height: 250px;
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid #239BF4;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

nav .left .gnb01 a:hover {
    border-bottom-color: var(--colorSkyBlue);
}

nav .right {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav .right .gnb02 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 0.8125rem;
    font-weight: 500;
    /* margin: 0 0 0 200px; */
}

nav .right ul {
    display: flex;
    align-items: center;
    gap: 0 20px;
    font-weight: 600;
    font-size: 0.8125rem;
    color: var(--colorGerylight);
}

.right ul a:hover {
    color: var(--colorBlack);
}

nav .right .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 15px;
    background: var(--colorSkyBlue);
    border: 1px solid transparent;
    margin: 0 0 0 20px;
    color: var(--colorWhite);
    cursor: pointer;
}

.scroll {
    width: 50px;
    height: 125px;
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    top: 700px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.scroll .asideMenu a {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 0;
}

.scroll .asideMenu a img {
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
}

.scroll .asideMenu a:nth-of-type(4) {
    border-bottom-color: transparent;
}

.scroll .asideMenu a:nth-of-type(2):hover {
    color: var(--colorGerylight);
}

.scroll .asideMenu a:nth-of-type(3):hover {
    color: var(--colorSkyBlue);
}

/* ----------------------------------------------- */

footer {
    width: 100%;
    height: 180px;
    background: #E3E3E3;
}

footer .inner {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

footer .inner .logo {
    width: 200px;
    height: 150px;
    text-indent: -900px;
    overflow: hidden;
    background: url(/ex/images/ftv/ftv로고/eftv_logo.png) no-repeat 50% 50% / contain;
}

footer .inner .text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

}

footer .inner .text .top {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
}


footer .inner .text .top .sns {
    width: 265px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 25px; */
}

footer .inner .sns a {
    width: 25px;
    height: 25px;
}

footer .inner .text .top .sns a:nth-of-type(1) {
    background: url(/ex/images/ftv/icon/ic_youtube.png)no-repeat 50% 50% / contain;
}

footer .inner .text .top .sns a:nth-of-type(2) {
    background: url(/ex/images/ftv/icon/ic_facebook.png)no-repeat 50% 50% / contain;
}

footer .inner .text .top .sns a:nth-of-type(3) {
    background: url(/ex/images/ftv/icon/ic_instargram.png)no-repeat 50% 50% / contain;
}

footer .inner .text .top .sns a:nth-of-type(4) {
    background: url(/ex/images/ftv/icon/ic_navertv.png)no-repeat 50% 50% / contain;
}

footer .inner .text .top .sns a:nth-of-type(5) {
    background: url(/ex/images/ftv/icon/ic_naverblog.png)no-repeat 50% 50% / contain;
}

footer .inner .text .top .sns a:nth-of-type(6) {
    background: url(/ex/images/ftv/icon/ic_kakaotv.png)no-repeat 50% 50% / contain;
}

footer .inner .text .bottom {
    font-size: 0.875rem;
    font-weight: 500;
    color: #777777;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

footer .inner .text .bottom span:nth-of-type(3) {
    color: #555555;
}

footer .mfooter {
    display: none;
}