body {
    min-width: 320px;
}

header {
    width: 100%;
    height: 60px;
}

aside {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
}

nav.inner {
    width: 90%;
    height: 100%;
    gap: 90px;
}

.left a.logo {
    width: 80px;
    height: 60px;
    margin: 0;
}

header .inner span.mMenuBt {
    position: absolute;
    top: 18px;
    left: 20px;
    display: block;
    color: #0078FF;
  }

header .inner .left ul.gnb01 {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.83);
    transform: translateX(-100%);
    transition: transform 0.5s;
    padding: 80px 0 0 0;
}

nav .left > .gnb01 > li > ul.snb::before {
    display: none;
}

nav .left > .gnb01 > li:hover > ul.snb::before {
    display: none;
}

header .inner .left ul li {
    height: auto;
    position: relative;
}

header .inner .left ul li a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .inner .left ul.gnb01.on {
    transform: translateX(0%);
}

ul.gnb01.on li.Bt .close {
    position: fixed;
    /* position: absolute; */
    top: 18px;
    right: -40px;
    display: block;
    color: #0078FF;
}

ul.gnb01 li.Bt .close {
    display: none;
}

header .inner .right {
    display: none;
}

/* -------------------------------------- */

.sec01 .inner {
    width: 100%;
    padding: 20px;
}

.sec01 .post {
    display: none;
}

.sec01 .text h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.sec01 .text span {
    display: none;
}

.sec01 .inner .contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec01 .inner .contact div span:nth-child(2) {
    font-size: 0.8125rem;
}

/* -------------------------------------------- */

.sec02 {
    width: 100%;
    padding: 0 20px;
}

.tabContent {
    width: 100%;
}

.tabContent .tabBt button {
    font-size: 1rem;
}

.tabContent .t01 .banner {
    width: 80%;
    height: 300px;
}

.sec02 .tabContent .program01 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec02 .tabContent .program01 .info {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
    gap: 5%;
}

.info .plan {
    width: 40%;
    justify-content: flex-start;
}

.info .staff {
    width: 40%;
}


/* ------- 방송보기 --------- */

.tabContent .t02 .broadCast {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 0;
}

.tabContent .t02 .broadCast img {
    width: 80%;
    height: 80%;
}

.broadCast .summary h3,
.broadCast .summary span {
    display: none;
}

.broadCast .navBt {
    width: 100%;
    gap: 10px;
}

.broadCast .navBt button {
    font-size: 1rem;
    font-weight: 300;
}

.t02 div.warning h2{
    font-size: 0.8125rem;
}

/* ---------------------------------------------- */

footer {
    background: unset;
    width: 100%;
    height: 100px;
}

footer .inner {
    display: none;
}

footer .mfooter {
    display: block;
}

footer .mfooter .msns {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 10px 0 20px 0;
}

footer .mfooter .msns a {
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

footer .mfooter .msns a:nth-of-type(1) {
    background: url(/ex/images/ftv/icon/ic_youtube.png)no-repeat 50% 50% / contain;
}

footer .mfooter .msns a:nth-of-type(2) {
    background: url(/ex/images/ftv/icon/ic_facebook.png)no-repeat 50% 50% / contain;
}

footer .mfooter .msns a:nth-of-type(3) {
    background: url(/ex/images/ftv/icon/ic_instargram.png)no-repeat 50% 50% / contain;
}

footer .mfooter .msns a:nth-of-type(4) {
    background: url(/ex/images/ftv/icon/ic_navertv.png)no-repeat 50% 50% / contain;
}

footer .mfooter .msns a:nth-of-type(5) {
    background: url(/ex/images/ftv/icon/ic_naverblog.png)no-repeat 50% 50% / contain;
}

footer .mfooter .msns a:nth-of-type(6) {
    background: url(/ex/images/ftv/icon/ic_kakaotv.png)no-repeat 50% 50% / contain;
}

footer .mfooter {
    width: 100%;
    height: 100%;
}

footer .mfooter .nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #0078FF;
}

footer .mfooter .nav div {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .mfooter .nav div img {
    width: 24px;
    height: 24px;
}

footer .mfooter .nav div button {
    width: 80px;
    height: 20px;
    font-size: 0.75rem;
    color: #fff;
    background: none;
    border: transparent;
}

/* ------------------------------------- */

@media screen and (max-width: 600px) {
    .sec02 .tabContent .program01 .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #h1 {
        display: none;
    }
    .sec02 .tabContent .program01 .info .plan {
        width: 100%;
    }
    .sec02 .tabContent .program01 .info .staff {
        width: 100%;
    }
    .tabContent .program02 .push {
        padding: 0;
      }
      .program02 .swiper-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 20px;
          width: 100%;
          height: 100%;
          transform: none;
          padding: 0;
      }
      .tabContent .t02 .broadCast {
          display: none;
      }
      .t02 div.warning {
          display: none;
      }
}