@charset "utf-8";

* { margin: 0; padding: 0; box-sizing: border-box; outline: 1px solid black;}

header { width: 100%; height: 90px; line-height: 90px; background: rebeccapurple; text-align: center;}

.sec01 h3 { text-align: left;}

body .sec01 { width: 1440px; height: calc(100vh - 180px); background: burlywood; margin: 0 auto; text-align: center; }

footer { width: 100%; height: 90px; background: lightcoral; text-align: center; line-height: 90px;}