@charset "utf-8";
/* 파일명을 작성할 때 공백은 지양한다. */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*구글 폰트 noto sans korean */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    /* outline: 1px solid red; */
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1 {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.sec {
    display: flex;
    align-items: center;
    gap: 70px;
}

.sec img {
    vertical-align: bottom;
    flex: 0 0 690px;
    display: flex;
}

.sec .txtBox {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sec:nth-of-type(2) img {
    display: flex;
    order: 1;
}

.txtBox span {
    font-size: 1.1rem;
    font-weight: 600;
    color: #00B9D2;
}

.sec .txtBox h2 {
    font-size: 3.125rem;
    margin: 10px 0 50px 0;
}

.sec .txtBox p {
    line-height: 1.7;
    word-break: keep-all;
    /* font-size: 16px; */
    /* font-size: 1rem; */
    /* 기본 폰트 사이즈는 16px이다. = 1rem. 기본적용 폰트 사이즈를 사용할 시에는 폰트 사이즈를 굳이 기재할 필요가 없다. */
}