@charset "utf-8";
/* 파일명을 작성할 때 공백은 지양한다. */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*구글 폰트 noto sans korean */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    /* outline: 1px solid red; */
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-size: 3.124rem;
    color: #888;
    text-align: center;
}
.inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
    gap: 60px
}

section { 
    display: flex;
    align-items: center;
    gap: 70px
}