@charset "utf-8";

.inner {
    width: 100%;
    gap: 30px;
    padding: 0 40px;
}

h1 {
    font-size: 2rem;
}

.sec {
    width: 100%;
    flex-direction: column;
    align-items: unset;
    gap: 20px;
}

.sec img {
    flex: 1 1 auto;
    height: 150px;
    object-fit: cover;
}

.sec:nth-of-type(2) img {
    order: unset;
}

.sec .txtBox {
    padding: 0 50px;
}

.sec .txtBox h2 {
    font-size: 2.1875rem;
    padding: 15px 0 25px 0;
}